<div style="display: flex; flex-direction: column; align-items: center; font-family: helvetica, arial, sans-serif;">
    <div style="max-width: 600px; text-align: center">
        <img src="https://dev.readyvetgo.de/Logo.png" alt="Ready Vet Go's logo" style="max-width: 300px" />
        <h1>Confirm your ReadyVetGo account</h1>
        <p style="font-weight: bold">Confirm your email address to open your account on <a href="https://readyvetgo.de">readyvetgo.de</a> by clicking on the button below:</p>
        <a class="confirm-button" href="<%-confirmLink%>" style="background-color: #0F172AFF; border-radius: 6px; color: #ffffff; display: inline-block; font-weight: bold; letter-spacing: 0; line-height: normal; padding: 0.8rem 4rem 0.8rem 4rem; text-align: center; text-decoration: none; font-family: helvetica, sans-serif; font-size: 16px;">
            Confirm your email
        </a>
        <p style="margin-top: 2rem;">You can also copy and paste this link into your browser if you're having trouble: <a href="<%-confirmLink%>"><%-confirmLink%></a></p>
        <p>If you didn't sign up for readyvetgo.de, please ignore this email.</p>

        <div style="background: rgb(200, 200, 200); padding: 0.5rem 1rem; line-height: 0.8rem; font-size: 0.8rem; color: rgb(60, 60, 60)">
            <p style="font-weight: bold; font-size: 1.5rem">ReadyVetGo</p>
            <p>SEBA Master 2024</p>
            <p>TUM School of Computation Information and Technology (CIT)</p>
            <p>Boltzmannstraße 3, 85748 Garching bei München</p>
            <p>This email has been sent to
                <a href="mailto:<%-email%>"><%-email%></a>.
            </p>
        </div>
    </div>
</div>
